<div class="cat-card" id = "{{catID}}" data-cat-num = "{{catNUM}}" data-feed-stat = "{{feedStat}}" data-groom-stat= "{{groomStat}}" data-play-stat= "{{playStat}}" data-total = "{{total}}" data-is-adult= "{{age}}" data-color = "{{color}}" data-kids = "{{kids}}">
  <div class="cat-name-holder">
    <h2 class = "cat-name">{{catName}}</h2>
  </div>
  <div class="cat-image-holder">
    <img class = "catImg" src= "{{photoURL}}" alt="Cat Image">
  </div>

  <div class="cat-stats-holder">
    <div class="groom-stat stat-holder">
      <img src="images/brush.jpg" alt="Groom Icon" class="stat-icon">
      <p class="groom-stat-text">{{groomStat}}/2</p>
    </div>

    <div class="feed-stat stat-holder">
      <img src="images/bowl.jpg" alt="Feed Icon" class="stat-icon">
      <p class="feed-stat-text"> {{feedStat}}/2</p>
    </div>

    <div class="play-stat stat-holder">
      <img src="images/cat_toy.jpg" alt="Play Icon" class="stat-icon">
      <p class="play-stat-text"> {{playStat}}/2</p>
    </div>
  </div>
</div>
